<div id="header">
  <div id="logo_container">
    <img class="logo" src="../../../assets/wc_logo.png" alt="wc_logo" />
    <img class="social_media" src="../../../assets/three_menu.png" alt="menu" />
  </div>
  <div id="social_media_container">
    <img
      class="social_media"
      src="../../../assets/facebook.png"
      alt="facebook"
    />
    <img class="social_media" src="../../../assets/twitter.png" alt="twitter" />
    <img
      class="social_media"
      src="../../../assets/instagram.png"
      alt="instagram"
    />
  </div>
</div>
