<div id="footer">
  <div id="first-row">
    <div>Terms of service</div>
    <div>Privacy Policy</div>
    <div>Cookie Policy</div>
    <div>Downloads</div>
    <div>Contact FIFA</div>
    <div>Mobile Apps</div>
    <div>Jobs</div>
  </div>
  <div id="second-row">
    <div class="select_div">
      <select>
        <option> English </option>
        <option> Español </option>
        <option> Français </option>
        <option> عربي </option>
      </select>
    </div>
    <div class="copyright">
      Copyright ©1994 - 2020 FIFA. All Rights Reserved.
    </div>
    <div class="dummy_div"></div>
  </div>
</div>
